.form{
    background-color: #dbb383;
    /* padding: 5%; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form .campo{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:2rem;
}

.form input{
    border-radius: 10px;
}

.form .titulo{
    padding-top: 1rem;
    font-size:x-large;
}

button{
    background-color: #3A2604;
    color: white;
    border-radius: 30px;
    font-size: large;
    font-weight: bolder;
}

